<main>
<div>
<% @peeps.reverse_each do |peep| %>
   <small>Peep Message:</small>
   <br><%= peep[:message]%></p>
  <p>
    <small>
      Created: <%= peep[:created_at]%> by: <%= peep[:created_by_name]%><br>
      <i>username: <%= peep[:created_by]%></i>
    </small>
    </p>
<%end%>
</div>
</main>
