<ul>
  <li>Connect with your friends and share your Chit!</li>
  <li>Find and follow fascinating people (and Chit)!</li>
  <li>Get instant updates on the chit that interests you!</li>
</ul>

<ul class="small-block-grid-1">
  <li><img src="/img/chitter.png" alt="Chitter"></li>
</ul>