<div class="row">

  <div class="large-12 columns">
    <div class="panel">

      <h4>Hey!</h4>
      <h5>What's on your mind?</h5>

      <p>Send a Peep Message and let the world know.</p>

      <form action="/send_peep" method="POST">
        <div class="row">
          <div class="large-8 columns">
            <input type="text" name="message" placeholder="Your Peep message goes here">
            <input type="submit" class="small button" value="Send Peep">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>