
<div> class="row">

  <div> class="large-14 columns">

    <div> class="panel">

      <div> class="row">

        <div> class="large-7 columns">

          <div> class="callout panel">

            <h2> Hello! </h2>

            <h2> Tell the world what you think! </h2>

            <form action="/share_peep" method="post">
              <textarea cols="40" rows="5" name="message" placeholder="Put in your Peep here!"></textarea>
              <input type="text" name="peep_text"><br>
              <button class="button round button success button expand" type="submit"
                      formmethod="post" formaction="/share_peep">Share Peep!</button>
               </form>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
