<h2 align="center">Share Chit!</h2>
<div class="row">
  <div class="small-6 small-centered columns">
    <div class="signup-panel">
      <form action="/share_chit" method="post">
      <!-- TODO: Make input area multi-line. w/ textarea? -->
      <!-- # TODO: Add validation. Currently fails w/ long strings-->
        Say Chit:<input type="text" name="chit_text"><br>
        <button class="button round button success button expand" type="submit" formmethod="post" formaction="/share_chit">Share Chit!</button>
      </form>
    </div>
  </div>
</div>
