<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <div class="row">
        <div class="large-6 columns">
          <div class="callout panel">
            <h1>Join!</h1>

            <p>The world of Chitter today.</p>

            <p>Register now and start sending<br>
              peep messages right away.</p>
            Already a user? <a href="/sign_in">Sign in here</a><br><br>

            <form action="/sign_up" method="post">
              <div class="row">
                <div class="large-8 columns">
                  <input type="text" name="username" placeholder="Choose a username">
                  <input type="password" name="password" placeholder="Choose a password">
                  <input type="password" name="password_confirmation" placeholder="Repeat password">
                  <input type="text" name="name" placeholder="Your name?">
                  <input type="text" name="email" placeholder="e-mail address">
                  <input type="submit" class="medium button" value="Sign Up">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div