<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <div class="row">
        <div class="large-6 columns">
          <div class="callout panel">
            <h4>Sign In</h4>

            <p>New to Chitter? <a href="/sign_up">Sign up here.</a></p>

            <form action="/sign_in" method="post">
              <div class="row">
                <div class="large-8 columns">
                  <input type="text" name="username" placeholder="Username">
                  <input type="password" name="password" placeholder="Password">
                  <input type="submit" class="medium button" value="Sign in">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>