<p>Update Peep</p>
<form action="/update_peep/<%= @peep.id %>" method="POST" >
  <p>New message:</p><br>
  <input type="text" name="message" value="<%= @peep.message %>">
  <input type="submit" value="Update Peep">
</form>
